<app-user-dashboard></app-user-dashboard>
<div class="card">
<form action="" >
    <div class="mainhead">
        <h1>Add New Beneficiary</h1>
    </div>
    <div class="container">
            <label for="beneName">Beneficiary Name</label><br/>
            <input type="text" name="beneName" required=""  /><br/>
            <label for="beneNo">Beneficiary Account Number</label><br/>
            <input type="text" name="beneNo" required="" oninvalid="this.setCustomValidity('Please Enter Valid Account Number ')" oninput="setCustomValidity('')"/><br/>
            <label for="mainBeneNo">Re-Enter Account Number</label><br/>
            <input type="text" name="mainBeneNo" required="" oninvalid="this.setCustomValidity('Please Enter Valid Account Number ')" oninput="setCustomValidity('')"/><br/>
            <label for="nickName">Nick Name</label><br/>
            <input type="text" name="nickName"/><br/>
            <input type="checkbox" autocomplete=""/> Save Beneficiary
            <br>
        </div>
    <div>
        <button class="mainbutton" type="submit">Save As Beneficiary</button>
    </div>
</form>
</div>

