<app-user-dashboard></app-user-dashboard>
<div class="myform">
    <form (ngSubmit)="generateOtp()" >
        <div class="mainhead">
            <h1>Initiate RTGS Payment</h1>
        </div>
        <div class="container">
            <div class="labels">
                <label>From Account</label><br/>
                <label>To Account</label><br/>
                <label>Amount</label><br/>
                <label>Message</label><br/>
                <label>Remark</label><br/>
                <label>Transaction Password</label><br/><br/>
            </div>
            <div class="inputs">
                <select name="from_acccount" [(ngModel)]=transactions.fromAccount>
                    <option value ={{accounts[0]}}>{{accounts[0]}}</option>
                </select><br /><br />
                <input type="text" name="to_acccount" [(ngModel)]=transactions.toAccount required="" oninvalid="this.setCustomValidity('Please Enter Valid Account Number ')" oninput="setCustomValidity('')"/> <input type="button" value ="+"/><br>
                <input type="text" name="amount" [(ngModel)]=transactions.amount required=""/><br/>
                <input type="text" name="message" [(ngModel)]=transactions.message required=""/><br/>
                <input type="text" name="remark" [(ngModel)]=transactions.remarks required=""/><br/>
                <input type="password" name="password" [(ngModel)]=transactions.password required=""><br />
                
            </div>
        </div>
        <div id="outer">
            <button class="inner" type="reset">Reset</button>
            <button class="inner" type="submit">Send</button>
        </div>
    </form>
</div>


