<app-user-dashboard></app-user-dashboard>
<div class="myform">
    <form #transferForm="ngForm" (ngSubmit)="transferForm.valid && generateOtp()" >
        <div class="mainhead">
            <h1>Initiate RTGS Payment</h1>
        </div>
        <div class="container">
            <div class="labels">
                <label>From Account</label><br/>
                <label>To Account</label><br/>
                <label>Amount</label><br/>
                <label>Message</label><br/>
                <label>Remark</label><br/>
                <label>Transaction Password</label><br/><br/>
            </div>
            <div class="inputs">
                <select name="from_acccount" [(ngModel)]=transactions.fromAccount>
                    <option value ={{accounts[0]}}>{{accounts[0]}}</option>
                </select><br /><br />
                <input type="text" name="to_acccount" #to="ngModel" [(ngModel)]=transactions.toAccount required oninvalid="this.setCustomValidity('Please Enter Valid Account Number ')" oninput="setCustomValidity('')"/> <button name="btn" routerLink='/addBeneficiary'>+</button><br>
                <div class="validations" *ngIf="transferForm.submitted && to.invalid && (to.dirty||to.untouched)">
                    <div *ngIf="to.errors.required">
                         Account number is required!
                    </div>
                </div>
                <input type="text" name="amount" #amt="ngModel" [(ngModel)]=transactions.amount required/><br/>
                <div class="validations" *ngIf="transferForm.submitted && to.invalid && (to.dirty||to.untouched)">
                    <div *ngIf="amt.errors.required">
                         Amount is required!
                    </div>
                </div>
                <input type="text" name="message" #msg="ngModel" [(ngModel)]=transactions.message required/><br/>
                <input type="text" name="remark" #rmk="ngModel" [(ngModel)]=transactions.remarks required/><br/>
                <input type="password" name="password" #psw="ngModel" [(ngModel)]=transactions.password required><br />
                <div class="validations" *ngIf="transferForm.submitted && to.invalid && (to.dirty||to.untouched)">
                    <div *ngIf="psw.errors.required">
                         Password is required!
                    </div>
                </div><br>
            </div>
        </div>
        <div id="outer">
            <button class="inner" type="reset">Reset</button>
            <button class="inner" type="submit">Transfer</button>
        </div>
    </form>
</div>


