<form action="" method="post">
    <div class="card">
        <div class="head">
            <h1>Login</h1>
          </div>
        <div>
            <label for="uname"><b>User ID</b></label><br>
            <input type="text" placeholder="Enter User ID" name="uid" required><br>
        </div>
        <div>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required><br>
        </div>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label><br>

        <button class="btn" type="submit">Login</button>
        <button class="btn" type="submit" (click)="home()">Back</button>

        <div class="link"><span class="register"><a routerLink='/registerPage'>New User? Register</a></span><br></div>
        <div class="link"><span class="uid"><a href='forgotUserId'>Forgot User Id?</a></span><br></div>
        <div class="link"><span class="psw"><a href='forgotPassword'>Forgot password?</a></span></div>
</div>
</form>

