<app-home-navigation></app-home-navigation>

<div class="header">
    <h1>Documents Upload</h1>
    <p>Upload your documents to get verified</p>
</div>
<div class="main">
  <p>Click on the "Choose File" button to upload a file:</p>
  <form>
    <h4>Upload Aadhar Card </h4>
    <input type="file" name="aadhar" value="aadhar" required>
    <button type="submit">Submit</button><br>

    <h4>Upload PAN Card</h4>
    <input type="file" name="pan" value="pan" required>
    <button type="submit">Submit</button><br>

    <h4>Upload Electricity bill</h4>
    <input type="file" name="bill" value="bill" required>
    <button type="submit">Submit</button><br>

    <h4>Upload CST/VAT/GST Certificate</h4>
    <input type="file" name="gst" value="gst" required>
    <button type="submit">Submit</button><br>

    <h4>Upload Photo</h4>
    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*" required>
    <button type="submit">Submit</button><br>

    <button type="submit" id="btn">Submit</button>
  </form>
</div>
