<app-home-navigation></app-home-navigation>

<div class="header">
    <h1>Documents Upload</h1>
    <p>Upload your documents to get verified</p>
</div>
<div class="main">
  <p>Click on the "Choose File" button to upload a file:</p>
  <form (ngSubmit)="upload()" enctype="multipart/form-data">


    <h4>Upload Aadhar Card </h4>
    <input type="file" name="aadhar" (change)="onFileChange($event)" />
    <!--<button type="submit">Upload</button><br>-->

    <h4>Upload PAN Card</h4>
    <input type="file" name="panPic" (change)="onFileChange($event)" />
    <!--<button type="submit">Upload</button><br>-->

    <h4>Upload Electricity bill</h4>
    <input type="file" name="lightBill" (change)="onFileChange($event)" />
    <!--<button type="submit">Upload</button><br>-->

    <h4>Upload CST/VAT/GST Certificate</h4>
    <input type="file" name="gstProof" (change)="onFileChange($event)" /> <br/><br/>
    <button type="submit">Upload</button><br>

  </form>
</div>
