<app-user-dashboard></app-user-dashboard>
<div class="card">
  <h1>Account Summary</h1>
  <h4>Enter Account Number:</h4>
  
  <input type="number" name="accountNumber" [(ngModel)] = "accountNumber"/>
  <button type="submit" (click)="viewSummary()">Search</button><br/>
  <!-- <div class="content">
      <label for="from">Statement From </label>
      <input type="text" id="from"/><span><label for="to">To </label>
      <input type="text" id="to"/></span>
  </div> -->
  <div>
    <table>
      <tr>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Available Balance</th>
      </tr>
      <tr>
        <td>{{accountSummary.accountNumber}}</td>
        <td>{{accountSummary.accountType}}</td>
        <td>{{accountSummary.bankBalance}}</td>
      </tr> 
    </table>
          
  </div>
</div>



