<app-user-dashboard></app-user-dashboard>
<div class="card">
  <h1>Account Summary</h1>
  <!-- <div class="content">
      <label for="from">Statement From </label>
      <input type="text" id="from"/><span><label for="to">To </label>
      <input type="text" id="to"/></span>
  </div> -->
  <div>
    <table>
      <tr>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Available Balance</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>145263</td>
        <td>Savings</td>
        <td>65000</td>
        <td>Debited</td>
      </tr>
      <tr>
        <td>147853</td>
        <td>Savings</td>
        <td>358000</td>
        <td>Credited</td>
      </tr>
      <tr>
        <td>145263</td>
        <td>Current</td>
        <td>100000</td>
        <td>Debited</td>
      </tr>
      <tr>
        <td>78541</td>
        <td>Current</td>
        <td>40000</td>
        <td>Credited</td>
      </tr>
            
    </table>
          
  </div>
</div>



