<app-admin-panel></app-admin-panel>
<table class="styled-table">
    <thead>
        <tr>
            <th>TITLE</th>
            <th>SERVICE_REFERENCE_NO</th>
            <th>NAME</th>
            <th>FATHER_NAME </th>
            <th>MOBILE_NUMBER</th>
            <th>PAN </th>
            <th>RESIDENTIAL_ADDRESS </th>
            <th>EMAIL_ID </th>
            <th>GROSS_INCOME(LPA) </th>
            <th>EDIT</th>      
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ms</td>
            <td>100023</td>
            <td>J Pooja Preetha</td>
            <td>Jothiappan</td>
            <td>8861985249</td>
            <td>EOES2314</td>
            <td>7th c cross, Basavanagar ,Bangalore - 560037</td>
            <td>pooja@gmail.com</td>
            <td>350000</td>
            <td><button class="btn1">Accept</button></td>
            <td><button class="btn2">Reject</button></td>
            
        </tr>
        <tr>
            
            <td>Mr</td>
            <td>100024</td>
            <td>Dilip Kumar</td>
            <td>Jain</td>
            <td>8861662585</td>
            <td>DDRP2456</td>
            <td>1st cross, HAL ,Bangalore - 560017</td>
            <td>dilip@gmail.com</td>
            <td>500000</td>
            <td><button class="btn1">Accept</button></td>
            <td><button class="btn2">Reject</button></td>
            
        </tr>
        <tr class="active-row">
            
            <td>Ms</td>
            <td>100025</td>
            <td>J Priya Shilpa</td>
            <td>Jothiappan</td>
            <td>6362457825</td>
            <td>JRYU1176</td>
            <td>7th c cross, Basavanagar ,Bangalore - 560037</td>
            <td>priya@gmail.com</td>
            <td>550000</td>
            <td><button class="btn1">Accept</button></td>
            <td><button class="btn2">Reject</button></td>
            
        </tr>
        
    </tbody>
</table>

