<app-admin-panel></app-admin-panel>
<table class="styled-table">
    <thead>
        <tr>
            <th>REFERENCE_NO</th>
            <th>TITLE</th>
            <th>NAME</th>
            <th>DOB </th>
            <th>MOBILE_NUMBER</th>
            <th>RESIDENTIAL_ADDRESS </th>
            <th>EMAIL_ID </th>
            <th>GROSS_INCOME(LPA) </th>
            <th>FILES</th>
                  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of accountRequest">
            <td>{{ r.referenceId }}</td>
            <td>{{ r.title }}</td>
            <td>{{ r.firstName }}&nbsp;{{ r.lastName }}</td>
            <td>{{ r.dateOfBirth }}</td>
            <td>{{ r.mobileNo }}</td>
            <td>{{ r.residentialAddress }}</td>
            <td>{{ r.emailId }}</td>
            <td>{{ r.annualIncome }}</td>
            <td><button class="btn1"><a routerLink="/viewfile" routerLinkActive="active">VIEW FILES</a></button></td>
        </tr>
        
    </tbody>
</table>


