<app-user-dashboard></app-user-dashboard>
<div class="details-card">
  <div class="detail-head">
      <u>Bank Accounts</u>
  </div>
  <div class="detail-body">
         <span class="acctype">Savings</span>
         <span class="acno">142536789</span>
         <span><button class="btn">Check Balance</button></span>
  </div>
  <div><hr></div>
  <div class="detail-body">
          <span class="acctype">Current</span>
          <span class="acno">741258963</span>
          <span><button class="btn">Check Balance</button></span>
  </div>
  <div><hr></div>
