  .details-card{
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    height:fit-content;
    width: 70%;
    margin-top: 3%;
    margin-left: 28%;
    padding-bottom: 2%;
    background-color: white;
  }


.details-card .detail-head{
    font-size: xx-large;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 4%;
}
.details-card .detail-body{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}
.btn{
    float: right;
    background-color: rgb(86, 29, 243);
    width: 20%;
    height: 100%;
    color: white;
    font-size: medium;
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
}
.acctype{
    font-size: large;
}
.acno{
    font-size: 22px;
    margin-left: 30%;
}