<app-user-dashboard></app-user-dashboard>
<div class="details-card">
  <div class="detail-head">
      <u>Bank Accounts</u>
  </div>
  <table  class="styled-table">
      <thead>
        <tr>
          <th>ACCOUNT_NUMBER</th>
          <th>ACCOUNT_TYPE</th>
          <th>BALANCE</th>   
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of details" >
            <td>{{r[0]}}</td>
            <td>{{r[1]}}</td>
            <td>{{r[2]}}</td>
      </tr> 
    </tbody>
  </table>

</div>
 
  
  