<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <div class="card">
        <h1>Account Statement</h1>
        <div class="content">
            <label for="from">Statement From </label>
            <input type="text" id="from"/><span><label for="to">To </label>
            <input type="text" id="to"/></span>
        </div>
        <div>
          <table>
            <tr>
              <th>Select</th>
              <th>Account Number</th>
              <th>Name</th>
              <th>Account Type</th>
              <th>Balance</th>
            </tr>
            <tr>
              <td><input type="radio"></td>
              <td>145263</td>
              <td>John</td>
              <td>Savings</td>
              <td>65200</td>
            </tr>
                  
          </table>
                
        </div>
      </div>
  </body>
</html>

