<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
</head>
<body>

<div class="form1">
    <h2>Forgot Password</h2>
    <h3>Enter Details</h3>
<form>
  
    
      <label><b>Enter User Id</b></label>
      <input type="number" placeholder="Enter User Id" name="uid" required><br/><br/>
  
      <label><b>Enter OTP</b></label>
      <input type="number" placeholder="Enter OTP" name="otp" required><br/>
  
      <button type="submit" (click)="newPassword()">Proceed</button>
      
      <button type="submit" (click)="loginPage()">Back</button>
</form>

</div>
    
</body>
</html>
