<app-admin-panel></app-admin-panel>
<html>
<head>
    <script src="./assets/vendors/myjs.js"></script>
</head>

<body>
<div class="card">
    <h1>Transaction details</h1>
    <span class="search"><label>Filter By </label></span>
    <span class="search"><select id="choose">
            <option value="1">Amount</option>
            <option value="2">Mode</option>
            <option value="3">Date</option> 
        </select></span>
    <span class="search"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Here..." /></span>
    

<table class="styled-table">
    <thead>
        <tr class="header">
            <th>Transaction ID</th>
            <th>From </th>
            <th>To </th>
            <th>Amount (Rs)</th>
            <th>Mode </th>
            <th>Remark </th>
            <th>On </th>                
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <td>{{ t.transactionId }}</td>
            <td>{{ t.fromAccount }}</td>
            <td>{{ t.toAccount }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.mode }}</td>
            <td>{{ t.remark}}</td>
            <td>{{ t.transactionDate }}</td>
            
        </tr>
        
    </tbody>
</table>
</div>

