<app-admin-panel></app-admin-panel>
<html>
<head>
    <script src="./assets/vendors/myjs.js"></script>
</head>

<body>
<div class="card">
    <h1>Transaction details</h1>
    <span class="search"><label>Filter By </label></span>
    <span class="search"><select id="choose">
            <option value="1">Amount</option>
            <option value="2">Mode</option>
            <option value="3">Date</option> 
        </select></span>
    <span class="search"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Here..." /></span>
    

<table class="styled-table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>From </th>
            <th>To </th>
            <th>Amount (Rs)</th>
            <th>Mode </th>
            <th>Remark </th>
            <th>On </th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TX123456</td>
            <td>LTI230023</td>
            <td>LTI230022</td>
            <td>6000</td>
            <td>IMPS</td>
            <td>Shopping</td>
            <td>23 APRIL 2021</td>     
        </tr>
        <tr>  
            <td>TX123457</td>
            <td>LTI231010</td>
            <td>LTI232022</td>
            <td>50000</td>
            <td>RTGS</td>
            <td>College Fees</td>
            <td>23 MARCH 2021</td>   
        </tr>
        <tr class="active-row">
            
                <td>TX123458</td>
                <td>LTI231101</td>
                <td>LTI231201</td>
                <td>100000</td>
                <td>NEFT</td>
                <td>Loan Amount</td>
                <td>05 MARCH 2021</td>   
        </tr>
        
    </tbody>
</table>
</div>

