<div class="myform">
    <form action="" >
        <div class="mainhead">
            <h1>Transfer Successful</h1>
        </div>
        <div class="container">
            <div class="labels">
                <label>Reference ID</label><br/>
                <label>Mode</label><br/>
                <label>Paid to Account</label><br/> 
                <label>Amount</label><br/>
                <label>From Account</label><br/>
                <label>On</label><br/>
                <label>Remark</label><br/>
                
             </div>
            <div class="inputs">
                <input type="text" name="refId" disabled /><br/>
                <input type="text" name="mode" disabled/><br/>
                <input type="text" name="paidTo" disabled /><br/>
                <input type="text" name="amount" disabled/><br/>
                <input type="text" name="from" disabled/><br/>
                <input type="text" name="on" disabled/><br/>
                <input type="text" name="remark" disabled/><br/>
                
            </div>
        </div>
        </form>
</div>
