<ul>
  <li><a routerLink='/userDashboard'>Home</a></li>
  <li><a routerLink='/changePassword'>Change Password</a></li>
  <li><a routerLink='/contact'>Contact</a></li>
  <li style="float: right;"><a routerLink='/logout'>Logout</a></li>
</ul>

<ul class="vertical">
    <li class="ver-link"><b>LTI Bank</b></li>
    <li class="ver-link"><a routerLink='/accDetails'>Account Details</a></li>
    <li class="ver-link"><a routerLink='/accSummary'>Account Summary</a></li>
    <li class="ver-link"><a routerLink='/accStatement'>Account Statement</a></li>
    <li class="ver-link"><a routerLink='/addBeneficiary'>Add Beneficiary</a></li>
    <li class="ver-link"><a routerLink='/fundsTransfer'>Transfer Money</a></li>
  </ul>
  <div class="welcome">
    <h2>Welcome User!</h2>
    <h3>Customer Id: {{customerId}}</h3>
</div>
<div>
  <marquee width="80%" direction="left" height="20%" style="margin-top: 2%; margin-left: 30%; font-family: 'Roboto', sans-serif;">
    <a routerLink='/registerPage'>Register for Internet Banking</a>
    </marquee>
</div>

