<app-user-dashboard></app-user-dashboard>
<div class="myform">
    <h2>Set New Password</h2>
    <form #myForm="ngForm" (ngSubmit)="add()">

        <label><b>Customer ID</b></label>
        <input type="number" placeholder="Enter customer ID" name="customerId" [(ngModel)]="setPassword.customerId" required #customerId="ngModel"><br/><br/>
        <span *ngIf="customerId.invalid && (customerId.dirty||customerId.touched)">customer ID is required</span>

        <label><b>Login Password</b></label>
        <input type="password" placeholder="Enter Login Password" name="loginPassword" [(ngModel)]="setPassword.loginPassword" required #loginPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/><br/>
        <span *ngIf="loginPassword.invalid && loginPassword.errors?.required && (loginPassword.dirty||loginPassword.touched)">Password should be at least 6 characters</span>
        <span *ngIf="loginPassword.invalid && loginPassword.errors?.pattern">Invalid format</span>

        <label><b>Confirm Login Password</b></label>
        <input type="password" placeholder="Confirm Login Password" name="confirmLoginPassword" [(ngModel)]="setPassword.confirmLoginPassword" required #confirmLoginPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/><br/><br/>
        <span *ngIf="confirmLoginPassword.invalid && confirmLoginPassword.errors?.required && (confirmLoginPassword.dirty||confirmLoginPassword.touched)">Password and Confirm Password should be same</span>
        <span *ngIf="confirmLoginPassword.invalid && confirmLoginPassword.errors?.pattern">Invalid format</span>

        <label><b>Transaction Password</b></label>
        <input type="password" placeholder="Enter Transaction Password" name="transactionPassword" [(ngModel)]="setPassword.transactionPassword" required #transactionPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/><br/>
        <span *ngIf="transactionPassword.invalid && transactionPassword.errors?.required && (transactionPassword.dirty||transactionPassword.touched)">Transaction password should not be same as Login Password</span>
        <span *ngIf="transactionPassword.invalid && transactionPassword.errors?.pattern">Invalid format</span>

        <label><b>Confirm Transaction Password</b></label>
        <input type="password" placeholder="Confirm Transaction Password" name="confirmTransactionPassword" [(ngModel)]="setPassword.confirmTransactionPassword" required #confirmTransactionPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/>
        <span *ngIf="confirmTransactionPassword.invalid && confirmTransactionPassword.errors?.required && (confirmTransactionPassword.dirty||confirmTransactionPassword.touched)">Password and Confirm Password should be same</span>
        <span *ngIf="confirmTransactionPassword.invalid && confirmTransactionPassword.errors?.pattern">Invalid format</span>

        <button type="submit" (click)="otp()">Submit</button>
    </form>
</div>

    


