
.form1{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 400px;
}

h2{
    margin-left: 120px;
}

h3{
    margin-left: 145px;
    margin-bottom: 50px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button{
    background-color: rgb(86, 29, 243);
    width: 30%;
    height: 100%;
    color: white;
    font-size: medium;
    border: none;
    padding: 2%;
    align-self: center;
    margin-left: 33%;
    margin-top: 15px;
    border-radius: 2px;
    cursor: pointer;
}
