<app-user-dashboard></app-user-dashboard>
<div class="myform">
    <h2>Set New Password</h2>
    <form (ngSubmit)="myForm.form.valid && add()" #myForm="ngForm">

        <label><b>Login Password</b></label>
        <input type="password" placeholder="Enter Login Password" name="loginPassword" [(ngModel)]="setPassword.loginPassword" required #loginPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/><br/>
        <span *ngIf="loginPassword.invalid && loginPassword.errors?.required && (loginPassword.dirty||loginPassword.touched)">Password should be at least 6 characters</span>
        <span *ngIf="loginPassword.invalid && loginPassword.errors?.pattern">Invalid format</span>

        <label><b>Confirm Login Password</b></label>
        <input type="password" placeholder="Confirm Login Password" name="confirmLoginPassword" [(ngModel)]="setPassword.confirmLoginPassword" required #confirmLoginPassword="ngModel" pattern="{{setPassword.loginPassword}}"><br/><br/><br/>
        <span *ngIf="myForm.submitted && confirmLoginPassword.errors?.pattern">Password and Confirm Password should match</span>

        <label><b>Transaction Password</b></label>
        <input type="password" placeholder="Enter Transaction Password" name="transactionPassword" [(ngModel)]="setPassword.transactionPassword" required #transactionPassword="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"><br/><br/>
        <span *ngIf="transactionPassword.invalid && transactionPassword.errors?.required && (transactionPassword.dirty||transactionPassword.touched)">Transaction password should not be same as Login Password</span>
        <span *ngIf="transactionPassword.invalid && transactionPassword.errors?.pattern">Invalid format</span>

        <label><b>Confirm Transaction Password</b></label>
        <input type="password" placeholder="Confirm Transaction Password" name="confirmTransactionPassword" [(ngModel)]="setPassword.confirmTransactionPassword" required #confirmTransactionPassword="ngModel" pattern="{{setPassword.transactionPassword}}"><br/>
        <span *ngIf="myForm.submitted && confirmTransactionPassword.errors?.pattern">Password and Confirm Password should match</span>

        <button type="submit" >Submit</button>
    </form>
</div>