<!DOCTYPE html>
<html>
<head>
<title>Change Password</title>
</head>
<body>

<div class="form1">
    <h2>Set New Password</h2>
<form>
  
    
      <label><b>Login Password</b></label>
      <input type="password" placeholder="Enter Login Password" name="pswdl" required><br/><br/>
  
      <label><b>Confirm Login Password</b></label>
      <input type="password" placeholder="Confirm Login Password" name="cpswdl" required><br/><br/><br/>

      
      <label><b>Transaction Password</b></label>
      <input type="password" placeholder="Enter Transaction Password" name="tpswd" required><br/><br/>
  
      <label><b>Confirm Transaction Password</b></label>
      <input type="password" placeholder="Confirm Transaction Password" name="ctpswd" required><br/>
  
      <button type="submit">Submit</button>

</form>

</div>

</body>
</html>
    


