<app-home-navigation></app-home-navigation>
<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
  <div class="header">
    <h2>Open a Savings Account</h2>
    <h3>Personal Details</h3>
  </div>

  <div class="form1">
    <form #myForm="ngForm" (ngSubmit)="add()">
      <div class="first-half">

        
        <label id="title">Title</label><br>
        <select class="title" name = "title" [(ngModel)] = "customer.title" required #title="ngModel">
          <option value="0">Mr</option>
          <option value="1">Mrs</option>
          <option value="2">Ms</option>
        </select><br>

        <div *ngIf="title.invalid && (title.dirty||title.touched)">
          <div class="alert alert-danger" *ngIf="title.errors.required">
               Title is required
           </div>
        </div>

        <div class="form-group">
           <label>First Name:</label> <br>
           <input type="text" required 
           placeholder="Enter your first name" 
           name="firstName" [(ngModel)] = "customer.firstName" 
           #firstName ="ngModel"/><br>
        </div>
       
        <div *ngIf="firstName.invalid && (firstName.dirty||firstName.touched)">
          <div class="alert alert-danger" *ngIf="firstName.errors.required">
               FirstName is required
           </div>
        </div>
        
        <div>
        <label>Middle Name</label><br>
        <input type="text" required 
        placeholder="Enter your middle name" 
        name="middleName" [(ngModel)] = "customer.middleName"
        #middleName = "ngModel" /><br>
        </div>

        <div *ngIf="middleName.invalid && (middleName.dirty||middleName.touched)">
          <div class="alert alert-danger" *ngIf="middleName.errors.required">
            middle Name is required
           </div>
        </div>

        <div>
        <label>Last Name</label><br>
        <input type="text" required 
        placeholder="Enter your last name" 
        name="lastName" 
        [(ngModel)] = "customer.lastName"
        #lastName = "ngModel"/><br>
        </div>

      <div *ngIf="lastName.invalid && (lastName.dirty||lastName.touched)">
        <div class="alert alert-danger" *ngIf="lastName.errors.required">
          last Name is required
         </div>
      </div>

      <div>
        <label>Father Name</label><br>
        <input type="text" required 
        placeholder="Enter your father's name" 
        name="fatherName" 
        [(ngModel)] = "customer.fatherName"
        #fatherName = "ngModel"/><br>
      </div> 

      <div *ngIf="fatherName.invalid && (fatherName.dirty||fatherName.touched)">
        <div class="alert alert-danger" *ngIf="fatherName.errors.required">
          Father Name is required
         </div>
      </div>

      <div> 
        <label>Mobile Number</label><br>
        <input type="number" required 
        placeholder="Enter your mobile no." 
        name="mobileNo" 
        [(ngModel)] = "customer.mobileNo"
        #mobileNo = "ngModel"/><br>
      </div>  

      <div *ngIf="mobileNo.invalid && (mobileNo.dirty||mobileNo.touched)">
        <div class="alert alert-danger" *ngIf="mobileNo.errors.required">
          mobile No is required
         </div>
      </div>

      <div>
        <label> Email ID</label><br>
        <input type="text"  
        placeholder="Enter your email id" 
        name="emailId" 
        [(ngModel)] = "customer.emailId"
        #emailId = "ngModel"/><br>
      </div> 

      <div *ngIf="emailId.invalid && (emailId.dirty||emailId.touched)">
        <div class="alert alert-danger" *ngIf="emailId.errors.required">
          email Id is required
         </div>
      </div>

      <div>
        <label>Aadhar Card Number</label><br>
        <input type="number" required 
        placeholder="Enter your aadhar card number" 
        name="aadhaarNo" 
        [(ngModel)] = "customer.aadhaarNo"
        #aadhaarNo = "ngModel"/><br>
    </div>

    <div *ngIf="aadhaarNo.invalid && (aadhaarNo.dirty||aadhaarNo.touched)">
      <div class="alert alert-danger" *ngIf="aadhaarNo.errors.required">
        aadhaar No is required
       </div>
    </div>

    <div>
      <label>PAN Card Number</label><br>
      <input type="string" required 
      placeholder="Enter your PAN card number" 
      name="panCard" 
      [(ngModel)] = "customer.panCard"
      #panCard = "ngModel"/><br>
    </div> 
    
    <div *ngIf="panCard.invalid && (panCard.dirty||panCard.touched)">
      <div class="alert alert-danger" *ngIf="panCard.errors.required">
        pan Card is required
       </div>
    </div>
    
    <div>
      <label>Date of Birth</label><br>
      <input type="date" required 
      name="dateOfBirth" 
      [(ngModel)] = "customer.dateOfBirth"
      #dateOfBirth = "ngModel"/><br>
    </div>

    <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty||dateOfBirth.touched)">
      <div class="alert alert-danger" *ngIf="dateOfBirth.errors.required">
        date Of Birth is required
       </div>
    </div>

  </div>

      <div class="res">
      <div>
        <label>Residential Address:</label><br>
        <input type="text" required
        placeholder="Enter residential address " 
        name="residentialAddress" 
        [(ngModel)] = "customer.residentialAddress" 
        #residentialAddress = "ngModel"
        id="residentialAddress"/><br>
      </div>  

      <div *ngIf="residentialAddress.invalid && (residentialAddress.dirty||residentialAddress.touched)">
        <div class="alert alert-danger" *ngIf="residentialAddress.errors.required">
          residential Address is required
         </div>
      </div>

      </div>

      <div class="per">
        <h3>Permanent Address</h3><br>
          Address: <br><input type="text" id="permanent" placeholder="Enter permanent address" name="permanent" [(ngModel)] = "customer.permanent" required/><br>
          </div>

      <div class="occupation">
        <h3>Occupation Details</h3><br>
        <div>
          <label>Occupation Type</label><br>
          <input type="text" required 
          placeholder="Enter your occupation" 
          name="occupation" 
          [(ngModel)] = "customer.occupation"
          #occupation = "ngModel"/><br>
        </div> 

        <div *ngIf="occupation.invalid && (occupation.dirty||occupation.touched)">
          <div class="alert alert-danger" *ngIf="occupation.errors.required">
            occupation is required
           </div>
        </div>

        <div>
          <label>Source of Income</label><br>
          <input type="text" required 
          placeholder="Enter source of income" 
          name="incomeSource" 
          [(ngModel)] = "customer.incomeSource"
          #incomeSource = "ngModel"/><br>
        </div>

        <div *ngIf="incomeSource.invalid && (incomeSource.dirty||incomeSource.touched)">
          <div class="alert alert-danger" *ngIf="incomeSource.errors.required">
            Income Source is required
           </div>
        </div>

        <label>Revenue Registration No</label><br>
        <input type="text"
        placeholder="Revenue registration no" 
        name="revenueRegisterNo" 
        [(ngModel)] = "customer.revenueRegisterNo"/><br>

        <label>GST No</label><br>
        <input type="text"
        placeholder="Enter GST no" 
        name="gstNumber" 
        [(ngModel)] = "customer.gstNumber"/><br>
          
        <div>  
        <label>Gross Annual Income</label><br>
        <input type="number" required 
        placeholder="Enter Gross income" 
        name="annualIncome" 
        [(ngModel)] = "customer.annualIncome" 
        #annualIncome = "ngModel"/><br>
        </div>

        <div *ngIf="annualIncome.invalid && (annualIncome.dirty||annualIncome.touched)">
          <div class="alert alert-danger" *ngIf="annualIncome.errors.required">
            Annual Income is required
           </div>
        </div>

        </div>

      <div class="last">
        
          <button type="submit">Proceed</button>
          <button (click)="backHome()">Back</button>
          
      </div>
          
    
    </form>
  </div>

</body>
</html>

