/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

*
 
  {
    box-sizing: border-box;
  }

  .form1{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 60%;
}

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    font-weight: bold;
  }

  .header {
    overflow: hidden;
    color: white;
    background-color: rgb(86, 29, 243);
    text-align: center;
    margin: 0 100px 20px 200px;
    width: 70%;
  }

  .registration {
    margin-left: 100px;
    box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    height:fit-content;
    width: 90%;
    margin:auto;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    background-color: white;
  }

  input[type=text], input[type=number], input[type=date], input[type=string] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
  }


  select  {
    width: 8%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=checkbox] {
    padding: 8px 10px;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
  }

  p {
    margin-top: 0;
  }

  .first-half {
    width: 85%;
    background-color: white;
    padding: 20px 0 10px 50px;
    margin-left: 40px;
  }

  .res{
    width: 85%;
    background-color: white;
    padding: 20px 0 10px 50px;
    margin-top: 15px;
    margin-left: 40px;
  }

  .per{
    width: 85%;
    background-color: white;
    padding: 20px 0 10px 50px;
    margin-top: 15px;
    margin-left: 40px;
  }

  .occupation{
    width: 85%;
    background-color: white;
    padding: 20px 0 10px 50px;
    margin-top: 15px;
    margin-left: 40px;    
  }

  .last{
    width: 85%;
    background-color: white;
    padding: 20px 0 10px 50px;
    margin-top: 15px;
    margin-left: 40px; 
  }

  button{
    background-color: rgb(86, 29, 243);
    width: 30%;
    height: 100%;
    color: white;
    font-size: medium;
    border: none;
    padding: 2%;
    align-self: center;
    margin-left: 33%;
    margin-top: 15px;
    border-radius: 2px;
}

.title{
  width: 10%;
  margin-bottom: 20px;
}