<!-- <router-outlet>
    <div>
        <ul>
            <li><a routerLink='accDetails'>Home</a></li>
            <li><a routerLink='changePassword'>Change Password</a></li>
            <li><a routerLink='contact'>Contact</a></li>
            <li><a routerLink='logout'>Logout</a></li>
        </ul>
        
        <ul class="vertical">
            <li class="ver-link"><a routerLink=''>LTI Bank</a></li>
            <li class="ver-link"><a routerLink='accDetails'>Account Details</a></li>
            <li class="ver-link"><a routerLink='accSummary'>Account Summary</a></li>
            <li class="ver-link"><a routerLink='accStatement'>Account Statement</a></li>
            <li class="ver-link"><a routerLink='transferMoney'>Transfer Money</a></li>
        </ul>
            
        <div class="welcome">
                <h2>Welcome User!</h2>
                <h3>Customer Id: 142536789</h3>
        </div>
    </div>
</router-outlet> -->
