ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    position: fixed;
    top: 0;
    width: 74%;
    overflow: hidden;
    background-color: rgb(86, 29, 243);
  }
  
.vertical {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 25%;
    background-color: rgb(86,26,243);
    position: fixed;
    height: 100%;
    overflow: auto;
  } 
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    opacity: 0.8;
    color: black;
  }
  
  .active {
    background-color: rgb(125, 82, 235);
  }

  .ver-link{
      width: 100%;
      height: 45px;
      border-bottom:1px solid #bbb;
  }
  
  .ver-link a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .ver-link a.active {
    background-color: rgb(125, 82, 235);
    height: 32px;
  }
  
  .ver-link a:hover:not(.active) {
    opacity: 0.8;
    color: black;
  }

.welcome{
    box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    height:fit-content;
    width: 70%;
    margin-top: 5%;
    margin-left: 28%;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
    background-color: white;
  }