<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>

  <app-home-navigation></app-home-navigation>
  <div class="topnav">
  <h2>Welcome!</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>DIGITAL BANKING</h2>
      <h5>Secured Transactions, Apr 10, 2021</h5>
      <img src="./assets/home.jpg" alt="">
    </div>
  </div>
  <div class="rightcolumn">
    
    <div class="card">
      <h2>Login for Internet Banking</h2>
      <button class="btn" type="submit" (click)="doLogin()">Login</button>
      <!-- <h4>New User?<a routerLink='registerPage'>Register</a></h4> -->
    </div>
    <div class="card">
      <h3>Apply Online for New Account</h3>
      <button class="btn" type="submit" (click)="newAccount()">Apply</button><br/>
      <!-- &nbsp;&nbsp;&nbsp;<a routerLink="/checkStatus">Already Registered? Check Status</a> -->
    </div>
    <div class="card">
      <h4>Need Help?</h4>
      <p><b>Contact Us</b></p>
      <p>+918964752314</p>
      <p>+918532147852</p>
    </div>
  </div>
</div>

<div class="footer">
  <h3>@Copyright LTI Bank Ltd.</h3>
</div>

</body>
</html>

