<form action="" method="post">
    <div class="card">
        <div class="head">
            <h1>Check Status</h1>
          </div>
        <div>
            <label for="uname"><b>Service Reference Number</b></label><br>
            <input type="text" placeholder="Enter Service Reference Number sent on email" name="uid" required><br>
        </div>

        <button class="btn" type="submit" (click)="status()">Proceed</button>
        <button class="btn" type="submit" (click)="home()">Back</button>
</div>
</form>


