<app-admin-panel></app-admin-panel>


    <table class="styled-table">
        <thead>
            <tr>
                <th>SERVICE_REFERENCE_NO</th>
                <th>AADHAAR NUMBER</th>
                <th>AADHAAR CARD</th>
                <th>PAN NUMBER </th>
                <th>PAN CARD </th>
                <th>REVENUE REGISTER NUMBER</th>
                <th>ELECTRICITY BILL</th>
                <th>GST NUMBER</th>
                <th>GST </th>
                <th>ACTION</th>      
            </tr>
        </thead>
        <tbody>
            
                <tr *ngFor ="let f of customerFile">
                    <td>{{ serviceRef }}</td><!--formControlName is for binding-->
                    <!--<td><input type="text" style="border:none" formControlName="aadhaarNo" [ngModel]="1111" disabled/></td>-->
                    <td>{{ f.aadhaarNo }}</td>
                    <td>{{ f.aadharPic}}</td>
                    <td>{{f.panCard}}</td>
                    <td>{{f.panPic}}</td>
                    <td>{{f.revenueRegisterNumber}}</td>
                    <td>{{f.lightBill}}</td>
                    <td>{{f.gstNumber}}</td>
                    <td>{{f.gstProof}}</td>
                    <td><button class="btn1"><a  routerLink="/credential" routerLinkActive="active">Accept</a></button></td>
                    <td><button class="btn2">Reject</button></td>
                    
                </tr>
        
            
        </tbody>
    </table>
  
    