<app-admin-panel></app-admin-panel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>SERVICE_REFERENCE_NO</th>
                <th>AADHAAR NUMBER</th>
                <th>AADHAAR CARD</th>
                <th>PAN NUMBER </th>
                <th>PAN CARD </th>
                <th>REVENUE REGISTER NUMBER</th>
                <th>ELECTRICITY BILL</th>
                <th>ACTION</th>      
            </tr>
        </thead>
        <tbody>
            
                <tr *ngIf =justFiles>
                    <td>{{ serviceRef }}</td><!--formControlName is for binding-->
                    <!--<td><input type="text" style="border:none" formControlName="aadhaarNo" [ngModel]="1111" disabled/></td>-->
                    <td>{{ justFiles.aadhaarNo }}</td>
                    <td><button style="background-color: rgb(17, 136, 6);"><a (click)="check1()" target="_blank"  href="http://localhost:8181/downloads/{{justFiles.aadharPic}}">View</a></button></td>
                    <td>{{justFiles.panCard}}</td>
                    <td><button style="background-color: rgb(17, 136, 6);"><a (click)="check2()" target="_blank"   href="http://localhost:8181/downloads/{{justFiles.panPic}}">View</a></button></td>
                    <td>{{justFiles.revenueRegisterNumber}}</td>
                    <td><button style="background-color: rgb(17, 136, 6);"><a (click)="check3()" target="_blank"  href="http://localhost:8181/downloads/{{justFiles.lightBill}}">View</a></button></td>
                    <td *ngIf=checked ><button class="btn1"><a   routerLink="/credential" routerLinkActive="active">Accept</a></button></td>
                    <td *ngIf=checked ><button class="btn2" (click)="reject()">Reject</button></td>
                  
                </tr>
        
            
        </tbody>
    </table>
</body>
</html>

   
  
    