<app-admin-panel></app-admin-panel>
<div [formGroup]="myform">

    <table class="styled-table">
        <thead>
            <tr>
                <th>SERVICE_REFERENCE_NO</th>
                <th>AADHAAR NUMBER</th>
                <th>AADHAAR CARD</th>
                <th>PAN NUMBER </th>
                <th>PAN CARD </th>
                <th>REVENUE REGISTER NUMBER</th>
                <th>ELECTRICITY BILL</th>
                <th>GST NUMBER</th>
                <th>GST </th>
                <th>ACTION</th>      
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>100023</td>
                    <td><input type="text" style="border:none" formControlName="aadhaarNo" [ngModel]="1111" disabled/></td>
                    <td>file aadhar</td>
                    <td>POPR2321</td>
                    <td>file pan</td>
                    <td>ABC00001</td>
                    <td>file ebill</td>
                    <td>gst12345</td>
                    <td>file gst</td>
                    <td><button (click)="accept()" class="btn1">Accept</button></td>
                    <td><button class="btn2">Reject</button></td>
                    
                </tr>
        
            
        </tbody>
    </table>
    </div>
    