.header {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 7, 141);
    padding: 20px;
    text-align: center;
    color:white;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: lightgray;
  }
  
  /* Style the topnav links */
  .topnav a {
    font-family: 'Roboto', sans-serif;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color:rgba(43, 7, 141, 0.815);
    color: white;
  }